@import '../../Styles/index.scss';

.DropDown {
      ::-webkit-scrollbar-thumb {
        background: #999BBC; 
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

    button, &__toggle {
        display: inline-flex;
        align-items: center;

        padding: 0;
        background-color: transparent;
        outline: none;
        width: 100%;
        // max-width: 343px;
        border-bottom: 0.5px solid #5D5F7C;
        min-width: 139px;
        border-top: none;
        border-left: none;
        border-right: none;

        &:hover {
            background-color: transparent;
        }
        &:focus {
            outline: none;
        }
    }

    .dropdown-menu {
        display: block;
        top: 13px !important;
        color: #fff;
        width: auto;
        min-height: 40px;
        height: auto;
        max-height: 120px;
        position: relative;
        overflow-y: auto;
        padding: 5px 0;
        border-radius: 0px 0px 5px 5px;

        opacity: 0;
        pointer-events: none;

        transition: opacity .4s ease, transform .4s ease;

        &.show {
            opacity: 1;
            pointer-events: all;
            top: 13px !important;
            border-color: #5D5F7C;
        }

        .dropdown-item {
            color: #999BBC;
            font-size: 12px;
            line-height: 16px;
            text-transform: capitalize;
            position: relative;
            padding: 5px 35px;

            &:before {
                position: absolute;
                content: '';
                width: 16px;
                height: 16px;
                left: 8px;
                top: 4px;
                background: #C4C4C4;
                border-radius: 50%;
            }
        }
    }

    .DropDown {
        &__arrow {
            transform: rotate(0deg);
            transition: .4s ease;
            position: absolute;
            right: 0;
        }
    }

    &.show {
        & > .btn {
            &-primary {
                &.dropdown-toggle {
                    background-color: transparent;
                    border: 0;
                }
            }
        }

        .DropDown {
            &__arrow {
                transform: rotate(180deg);
            }
        }
    }

    .DropDown {
        &__label {
            margin-right: 7px;
            white-space: nowrap;
            margin-bottom: 2px;
            font-size: 16px;
        }
    }

    &.color-scheme {
        &-DARK {
            ::-webkit-scrollbar {
                width: 5.22px;
                background-color: #0A0A1E;
                border-radius: 0 0 5px 0;
            }

            color: #fff;
            button, .DropDown_toggle {
                color: #fff;
            }
            &.show {
                & > .btn {
                    &-primary {
                        &.dropdown-toggle {
                            color: #fff;
                        }
                    }
                }
            }
        }
        &-LIGHT {
            color: #000;
            ::-webkit-scrollbar {
                width: 5.22px;
                background-color: #E5E5E5;
                border-radius: 0 0 5px 0;
            }
        } 
    }
}
