@import '../../Styles/index.scss';

.recharts-layer .recharts-cartesian-axis-tick {
    line {
        stroke: transparent !important;
    }
    text {
        fill: #fff !important;
        tspan {
            font-family: Montserrat;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
        }
    }
}

// line on the left and on the bottom of the graph
.recharts-cartesian-axis-line {
    stroke: transparent !important;
}

// .recharts-cartesian-grid-horizontal {
//     line {
//         stroke: rgba(255, 255, 255, 0.1) !important;
//     }
// }

.recharts-default-tooltip {
    // background-color: #197CD8 !important;
    border: 0 !important;
    border-radius: 10px;
    padding: 4px 8px !important;

    // .recharts-tooltip-label {
    //     color: #fff;
    // }
}

.recharts-active-dot {
    stroke: white;
    stroke-width: 1;
    .recharts-dot {
        // fill: red !important;
        stroke: black !important;
    }
}