@import '../../Styles/constants.scss';

.SearchBox {

    .SearchBox-wrapper {
        display: flex;
        border-bottom: 1px solid #999BBC!important;
        position: relative;
        padding: 0;

        .SearchBoxInput {
            border: none !important;
        }
    }

    &__label {
        display: flex;
        flex-direction: column;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #999BBC;
        align-items: flex-start;

        .form-label {
            margin-top: 0.5rem;
        }
    }

    &__btn {
        top: -5px;
        right: 2px;
        background-color: transparent;
        border: none;
        width: auto;
        height: auto;
        padding: 0 5px;

        &:hover {
            background-color: transparent;
        }
    }
}

.OpiumFieldset {
    .SearchBoxInput {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
    }
}
