@import '../../Styles/constants.scss';

.CustomChart {

  .custom-tooltip {
    &__container {
      border-radius: 10px;
    }
    .label {
      font-family: "Montserrat", sans-serif;
      margin: 4px 0;
      padding: 3px 8px;

      font-weight: normal;
      font-size: 10px;
      line-height: 12px;
      strong {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
      }
    }
  }

  .recharts-layer {
    .recharts-text {
      text-anchor: middle;
      &.recharts-label {
        tspan {
          font-weight: bold;
          fill: $white0;
          font-size: 12px;
        }
      }
    }

    .recharts-cartesian-axis-tick {

      line {
        stroke: transparent !important;
      }

      text {
        text-anchor: middle;
        tspan {
          font-family: "Montserrat", sans-serif;
          font-weight: normal;
          font-size: 12px;
          line-height: 14px;
          fill: $white0;
        }
      }
    }
  }

  // line on the left and on the bottom of the graph
  .recharts-cartesian-axis-line {
    stroke: transparent !important;
  }

  .recharts-default-tooltip {
    border: 0 !important;
    border-radius: 10px;
    padding: 4px 8px !important;
  }

  .recharts-active-dot {
    svg {
      overflow: visible;
    }
  }

  &.color-scheme {
    &-DARK {

      .recharts-text {
        text-anchor: middle;
        &.recharts-label {
          tspan {
            fill: $white0;
          }
        }
      }

      .recharts-active-dot {
        .dot-bg {
          transition: fill .5s ease;
          fill: #000;
        }
      }
      .recharts-tooltip-cursor {
        transition: stroke .5s ease;
        stroke: rgba(255, 255, 255, 0.5) !important;
      }

      .custom-tooltip {
        background-color: $darkblue1;
        .label {
          transition: color .5s ease;
        }
      }

      .recharts-layer .recharts-cartesian-axis-tick {
        text {
          // text on the sides
          transition: fill .5s ease;
          text-anchor: middle;
          fill: $white0 !important;
          tspan {
            fill: $white0 !important;
          };
        }
      }
    }
    &-LIGHT {

      .recharts-text {
        text-anchor: middle;
        &.recharts-label {
          tspan {
            fill: $darkblue1;
          }
        }
      }

      .recharts-active-dot {
        .dot-bg {
          transition: fill .5s ease;
          fill: #fff;
        }
      }

      .recharts-tooltip-cursor {
        transition: stroke .5s ease;
        stroke: rgba(10, 10, 30, 0.5) !important;
      }

      .custom-tooltip {
        background-color: $white0;
        .label {
          transition: color .5s ease;
        }
      }


      .recharts-layer .recharts-cartesian-axis-tick {
        text {
          transition: fill .5s ease;
          text-anchor: middle;
          fill: $darkblue1 !important;
          tspan {
            fill: $darkblue1 !important;
          };
        }
      }

    }
  }
}

.covered-area-text {
  fill: #F6029C;
  font-size: 0.8rem;
  transform: rotate(-14deg) translate(100px, 80px);

  @media (max-width: 1680px) {
    transform: rotate(-16deg) translate(80px, 80px);

    @media (max-width: 1536px) {
      transform: rotate(-20deg) translate(60px, 80px);

      @media (max-width: 1440px) {
        transform: rotate(-21deg) translate(18px, 80px);
    
        @media (max-width: 1024px) {
          transform: rotate(-23deg) translate(18px, 80px);
    
            @media (max-width: 768px) {
              transform: rotate(-29deg) translate(-43px, 80px);
    
                @media (max-width: 425px) {
                  transform: rotate(-52deg) translate(-140px, 50px);
    
                    @media (max-width: 375px) {
                      transform: rotate(-58deg) translate(-180px, 40px);
                      }
                  }
              }
              
          }
      }
    }
  }
}

.long-straddle-area-text {
  fill: #1BA159;
  font-size: 0.8rem;
  transform: rotate(24deg) translate(-20px, -30px);
}

.short-straddle-area-text {
  fill: #F6029C;
  font-size: 0.8rem;
  transform: rotate(-24deg) translate(-50px, 7px);
}

.long-strangle-area-text {
  fill: #1BA159;
  font-size: 0.8rem;
  transform: rotate(30deg) translate(-5px, -40px);
}

.short-strangle-area-text {
  fill: #F6029C;
  font-size: 0.8rem;
  transform: rotate(-30deg) translate(-76px, 5px);
}

.protactive-collar-area-text {
  fill: #F6029C;
  font-size: 0.8rem;
  transform: translate(6rem, 4rem);
  @media (max-width: 425px) {
    transform: translate(2rem, 4rem);
  }
}

.axis-text {
  font-weight: normal;
  fill: #fff;
  font-size: 12px;
  @media (max-width: 425px) {
    font-size: 8px;
  }

  &.axis-text-pink {
    fill: #F6029C;
  }

  &.axis-text-green {
    fill: #1BA159;
  }
}

.tspan-color {
  fill: #999BBC;
  font-weight: bold;
  font-size: 12px;
}

.static-tooltip {
  height: auto;
  background-color: transparent!important;
}
