@import '../../../Styles/constants.scss';
@import '../../../Styles/colors.scss';

.custom-card {
  border-radius: 10px;
  position: relative;
  .card-warap {
    width: 100%;
  }
  .text-block{
    position: absolute;
    width: 100%;
    top: 57%;
    left: 11%;
    @media (max-width:480px) {  
    left: 5%;
    top:50%;
    }
    @media (max-width:420px) {
      top: 48%;
      left: 5%;
    }
  }
  img{
    width: 100%;
  }
  .mobile {
    display: none !important;
  }
  @media (max-width: 768px) {
    .mobile {
      display: block !important;
    }
    .desktop {
      display: none !important;
    }
  }
}