@import '../../../Styles/constants.scss';
@import '../../../Styles/colors.scss';

.custom-card {
  border-radius: 10px;
  position: relative;
  
  .card-warap {
    width: 100%;
  
  }
 
  .text-block{ 
    position: absolute;
    width: 100%;
    top: 52%;
    left: 20%;
    div {
      color:red;
      & > * {
        font-size: 10px;
        @media (max-width:768px) {      
          font-size: 9px;
        }
      }
    }
  
    @media (max-width:991px) {      
      top:50%;
      }
      @media (max-width:768px) {      
        top:73%;
        left: 13%;  
    }
    @media (max-width:600px) {  
      left: 10%;
      top:65%;
      }  
    @media (max-width:420px) {
      top: 50%;
      left: 5%;
    }
  }
}   
  img{
    width: 100%;
  }
  .mobile {
    display: none !important;
  }
  @media (max-width: 768px) {
    .mobile {
      display: block !important;
    }
    .desktop {
      display: none !important;
    }
  }
