@import '../../../Styles/constants.scss';
@import '../../../Styles/colors.scss';

.custom-card {
  border-radius: 10px;

  &.card1-wrap {  
    background-repeat: no-repeat;
    background-position: 77% 50%;
    background-size: cover;   
    position: relative;
    img{
      width: 100%;
    }
  }
  &.card2-wrap {   
    background-repeat: no-repeat;
    background-position: 95% 92%;
    background-size: cover;
    height: 240px;
    position: relative;
    img{
      width: 100%;
    }
    @media (max-width:420px) {
      .text-block {
        top: 40%;
        left: 5%;
    }
    }
    @media (min-width:1500px) {
      .text-block {
        top: 70%;       
    }
    }
  }
 
  &.card3-wrap { 
    background-repeat: no-repeat;
    background-position: 95% 68%;
    background-size: cover;
    height: 240px;
    position: relative;
    img{
      width: 100%;
    }
    @media (min-width:1500px) {
      .text-block {
        top: 70%;       
    }
    }
  
  }
  
  &.card4-wrap {       
    background-repeat: no-repeat;
    background-position: 85% 50%;
    background-size: cover;
    height: 240px;
    position: relative;
    img{
      width: 100%;
    }
    @media (min-width:1500px) {
      .text-block {
        top: 70%;       
    }
    }
  }
}