@import '../../Styles/index.scss';

.NewPopUp {
  &.modal {
    .modal-header {
      position: relative;
      display: block;
      // justify-content: space-between !important;
      padding: 0 !important;
      margin-bottom: 36px;
      .close-button {
        position: absolute;
        top: 0;
        right: 0;
        // position: relative;
        // top: auto;
        // right: auto;
        // display: inline-block;

        padding: 0;

        outline: none;

        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
    }
    .modal-title {
      text-transform: none;
    }
    .modal-dialog {
      width: auto;
      max-width: none;
    }
    .modal-content {
      padding: 36px 32px;
    }
    .modal-body {
      padding: 0;
    }
    .modal-footer {
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin-bottom: 4px;
      & * {
        margin: inherit;
      }
    }
  }
  &.warning {
    &.modal {
      .modal-body {
        p {
          font-family: Montserrat;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          
          max-width: 274px;
        }
      }
      .modal-header {
        margin-bottom: 25px;
      }
    }
  }
  &__warning-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #F6029C;

    img {
      margin-right: 10px;
    }
  }
  &__subtitle {
    display: block;
  }
}
