@import '../../Styles/constants.scss';

.dropdown {
  width: fit-content;
}

.dropdown-toggle {
  padding-right: indent(3);
  padding-left: indent(1);
  padding-top: indent(1);
  padding-bottom: indent(1);
  text-align: left;
  width: 100%;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  &:active,
  &:focus,
  &:hover {
    box-shadow: none !important;
  }
  &:after {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: - .3em;
    width: 100%;
    height: calc(100% + .6em);
    z-index: -1;
  }
}


.dropdown-menu {
  width: 100%;
  border-radius: 4px;

  &.color-scheme-#{map_get($theme, lightTheme)} {
    @include dropdown-component($gray6, $darkblue3, $darkblue1);
  }
  &.color-scheme-#{map_get($theme, darkTheme)} {
    @include dropdown-component($darkblue2, $white0, $white0);
  }
}

.dropdown-item {
  font-size: fz(xs);
  padding-top: indent(1);
  padding-bottom: indent(1);
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
