@import '../../Styles/index.scss';
@import '../../Styles/colors.scss';

.Popup {
  &.modal {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: rgba($darkblue1, .4);
    .modal-header {
      position: relative;
      display: block;
      padding: 0 30px 0 0 !important;
      margin-bottom: 36px;
      border: 0;
      .close-button {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0;

        outline: none;

        &::before {
          display: none;
        }
        &::after {
          display: none;
        }
      }
    }
    .modal-title {
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 27px;
      text-transform: none;
    }
    .modal-dialog {
      min-width: 342px;
      width: auto;
    }
    .modal-content {
      border-radius: 10px;
      color: color(white);

      padding: 36px 32px;

      &.color-scheme {
        &-DARK {
          background: $darkblue1;
          border: 1px solid $white0;
          color: $white0;
          .modal-header {
            .close-button {
              svg {
                line {
                  stroke: $white0;
                }
              }
            }
          }
        }
        &-LIGHT {
          background: $white0;
          border: 1px solid $darkblue1;
          color: $darkblue1;
          .modal-header {
            .close-button {
              svg {
                line {
                  stroke: $darkblue1;
                }
              }
            }
          }
        }
      }
    }
    .modal-body {
      padding: 0;

      .loader-wrap {
        margin-bottom: 15px;
      }

      p {
        margin-bottom: 20px;
      }
    }
    .modal-footer {
      display: flex;
      justify-content: space-around;
      padding: 0;
      margin-bottom: 4px;
      & * {
        margin: inherit;
      }
    }
    &.big-title {
      .modal-title {
        font-size: 24px;
        margin-bottom: 5px;
      }
    }
  }
  &.warning {
    &.modal {
      .modal-body {
        p {
          font-family: "Montserrat", sans-serif;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;

          max-width: 274px;
        }
      }
      .modal-header {
        margin-bottom: 25px;
      }
    }
  }
  &__warning-title {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: $pink;

    img {
      margin-right: 10px;
    }
  }
  &__subtitle {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  &__subtitle2 {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .attention-text {
    margin-left: 5px;
  }
}
