$gray1: #1E1E22;
$gray2: #4B4B4E;
$gray3: #78787A;
$gray4: #A5A5A7;
$gray5: #D2D2D3;
$gray6: #EDEDF0;
$gray6_30: #ededf04d;
$red0: #FF5A5A;
$red0_20: hsla(0, 84%, 65%, 0.2);
$red0_30: hsla(0, 84%, 65%, 0.3);
$red0_40: hsla(0, 84%, 65%, 0.4);
$red0_50: hsla(0, 84%, 65%, 0.5);
$red1: #ff0000;
$red2: #ad0101;
$blue1: #197CD8;
$blue1_lighten: lighten(#197CD8, 20%);
$blue1_darken: darken(#197CD8, 50%);
$blue3: #BBEBFA;
$blue3_30: #bbebfa4d;
$yellow3: #ffe070;
$yellow3_darken: darken(#ffe070, 60%);
$yellow3_40: hsla(47, 100%, 72%, 0.4);
$yellow3_50: hsla(47, 100%, 72%, 0.5);
$yellow3_60: hsla(47, 100%, 72%, 0.6);
$yellow3_70: hsla(47, 100%, 72%, 0.7);
$yellow3_80: hsla(47, 100%, 72%, 0.8);
$green1: #36D69C;
$green1_darken: darken(#36D69C, 40%);
$green1_20: hsla(158, 87%, 39%, 0.2);
$green1_30: hsla(158, 87%, 39%, 0.3);
$green1_40: hsla(158, 87%, 39%, 0.4);
$green1_50: hsla(158, 87%, 39%, 0.5);
$green3: #B3F3DC;
$white: white;
$white1: #f8f8f9;
$darkgray_20: hsla(240, 50%, 8%, 0.2);
$darkgray1: #0A0A1E;
$darkgray1_darken: darken(#080818, 100%);
$darkgray1_40: hsla(240, 50%, 8%, 0.4);
$darkgray2: #3A3A55;
$darkgray3: #6B6F83;
$darkgray4: #A2A7B6;
$darkgray5: #CACFD8;
$darkgray6: #EBEDF3;
$darkgray7: #767a8a;
$darkred_30: #ff5a5a4d;
$darkBlue1: rgb(20, 20, 41);
$transparent0: #ffffff00;
$transparent1: #ffffff40;
$transparent2: #00000040;
