$gray1: #1E1E22;
$gray2: #4B4B4E;
$gray3: #78787A;
$gray4: #A5A5A7;
$gray5: #D2D2D3;
$gray6: #EDEDF0;
$gray6_30: rgba(237, 237, 240, 0.3);
$red: #FF5A5A;
$red_20: rgba(241, 93, 93, 0.2);
$blue1: #197CD8;
$blue3: #BBEBFA;
$blue3_30: rgba(187, 235, 250, 0.3);
$yellow3: rgba(255, 223, 110, 0.6);
$green1: #36D69C;
$green1_30: rgba(13, 188, 125, 0.3);
$green3: #B3F3DC;
$white: white;
$darkgray_20: rgba(10, 10, 30, 0.2);
$darkgray1: #0A0A1E;
$darkgray1_40: rgba(10, 10, 30, 0.4);
$darkgray2: #3A3A55;
$darkgray3: #6B6F83;
$darkgray4: #A2A7B6;
$darkgray5: #CACFD8;
$darkgray6: #EBEDF3;
$darkred_30: rgba(255, 90, 90, 0.3);
