@import './colors.scss';

:export {
  gray1: $gray1;
  gray2: $gray2;
  gray3: $gray3;
  gray4: $gray4;
  gray5: $gray5;
  gray6: $gray6;
  gray6_30: $gray6_30;
  red0: $red0;
  red0_20: $red0_20;
  red0_30: $red0_30;
  red0_40: $red0_40;
  red0_50: $red0_50;
  red1: $red1;
  red2: $red2;
  blue1: $blue1;
  blue1_lighten: $blue1_lighten;
  blue1_darken: $blue1_darken;
  blue3: $blue3;
  blue3_30: $blue3_30;
  yellow3: $yellow3;
  yellow3_darken: $yellow3_darken;
  yellow3_40: $yellow3_40;
  yellow3_50: $yellow3_50;
  yellow3_60: $yellow3_60;
  yellow3_70: $yellow3_70;
  yellow3_80: $yellow3_80;
  green1: $green1;
  green1_darken: $green1_darken;
  green1_20: $green1_20;
  green1_30: $green1_30;
  green1_40: $green1_40;
  green1_50: $green1_50;
  green3: $green3;
  white0: $white;
  white1: $white1;
  darkgray0_20: $darkgray_20;
  darkgray1: $darkgray1;
  darkgray1_darken: $darkgray1_darken;
  darkgray1_40: $darkgray1_40;
  darkgray2: $darkgray2;
  darkgray3: $darkgray3;
  darkgray4: $darkgray4;
  darkgray5: $darkgray5;
  darkgray6: $darkgray6;
  darkgray7: $darkgray7;
  darkblue1: $darkBlue1;
  darkred0_30: $darkred_30;
  transparent0: $transparent0;
}
