@font-face {
   font-family: 'Gerbera';
   src: url('/fonts/Gerbera.eot');
   src: local('☞Gerbera'), local('Gerbera'),
		url('/fonts/Gerbera.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Gerbera.woff2') format('woff2'),
		url('/fonts/Gerbera.woff') format('woff'),
		url('/fonts/Gerbera.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Gerbera';
   src: url('/fonts/Gerbera-Light.eot');
   src: local('☞Gerbera Light'), local('Gerbera-Light'),
		url('/fonts/Gerbera-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Gerbera-Light.woff2') format('woff2'),
		url('/fonts/Gerbera-Light.woff') format('woff'),
		url('/fonts/Gerbera-Light.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
    font-family: 'Gerbera';
    src: url('/fonts/Gerbera-Bold.eot');
    src: local('☞Gerbera Bold'), local('Gerbera-Bold'),
		url('/fonts/Gerbera-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Gerbera-Bold.woff2') format('woff2'),
		url('/fonts/Gerbera-Bold.woff') format('woff'),
		url('/fonts/Gerbera-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
 }

// @font-face {
//    font-family: 'Gerbera';
//    src: url('/fonts/Gerbera-Black.eot');
//    src: local('☞Gerbera Black'), local('Gerbera-Black'),
// 		url('/fonts/Gerbera-Black.eot?#iefix') format('embedded-opentype'),
// 		url('/fonts/Gerbera-Black.woff2') format('woff2'),
// 		url('/fonts/Gerbera-Black.woff') format('woff'),
// 		url('/fonts/Gerbera-Black.ttf') format('truetype');
//    font-weight: 900;
//    font-style: normal;
// }

// @font-face {
//    font-family: 'Gerbera';
//    src: url('/fonts/Gerbera-Medium.eot');
//    src: local('☞Gerbera Medium'), local('Gerbera-Medium'),
// 		url('/fonts/Gerbera-Medium.eot?#iefix') format('embedded-opentype'),
// 		url('/fonts/Gerbera-Medium.woff2') format('woff2'),
// 		url('/fonts/Gerbera-Medium.woff') format('woff'),
// 		url('/fonts/Gerbera-Medium.ttf') format('truetype');
//    font-weight: 500;
//    font-style: normal;
// }