@import '../../Styles/constants.scss';
@import '../../Styles/colors.scss';

.custom-card {
  border-radius: 10px;
  .button-warap {
    .staking-button {
      border-radius: 100px;
      font-weight: 500;
      font-size: 14px;
      line-height: 15px;
      padding: 9px 12px;
      z-index: 1000;
      &.color-scheme {
        &-DARK {
            background-color: $blue1;
            border-color: $blue1;
            color: $white0;
            &:hover {
              background-color: $blue2_lighten;
              border-color: $white0;
              color: $white0;
            }
            &:not(:disabled):not(.disabled):active {
              color: $darkblue1;
              background-color: rgba($blue1, .5);
              border-color: rgba($blue1, 0);
            }
            &:disabled {
              background-color: transparent;
              color: rgba($white0, .5);
              border-color: rgba($white0, .5);
            }
        }
        &-LIGHT {
            background-color: $blue1;
            border-color: $blue1;
            color: $white0;
            &:hover {
              background-color: $blue2_lighten;
              border-color: $white0;
              color: $white0;
            }
            &:not(:disabled):not(.disabled):active {
              color: $darkblue1;
              background-color: rgba($blue1, .5);
              border-color: rgba($blue1, 0);
            }
            &:disabled {
              background-color: transparent;
              color: rgba($white0, .5);
              border-color: rgba($white0, .5);
            }
        }
      }
    }
  }

  &.card1-wrap {
    background-image: url('../../Images/card1-back-image.svg'), linear-gradient(269.67deg, #8452D8 0.29%, #3A265C 76.22%);
    background-repeat: no-repeat;
    background-position: 85% 50%;
  }
  &.card2-wrap {
    background-image: url('../../Images/card2-back-image.svg'), linear-gradient(267.61deg, rgba(10, 10, 30, 0.07) 0%, rgba(10, 10, 30, 0.7) 100%);
    background-repeat: no-repeat;
    background-position: 95% 68%;
  }
  &.card3-wrap {
    background-image: url('../../Images/card3-back-image.svg'), linear-gradient(267.61deg, #FFA9D0 0%, #EB1C79 100%);
    background-repeat: no-repeat;
    background-position: 95% 50%;
  }
  &.card4-wrap {
    background-image: url('../../Images/card4-back-image.svg'), linear-gradient(267.61deg, rgba(10, 10, 30, 0.07) 0%, rgba(10, 10, 30, 0.7) 100%), linear-gradient(267.7deg, #B254A0 0%, #31B8C6 103.57%);
    background-repeat: no-repeat;
    background-position: 77% 50%;
  }
}