@import '../../Styles/index.scss';

.popover {
  border: 0 !important;
  & .popover-body.color-scheme-LIGHT {
    @include tooltip-component($gray3, $white0, $gray3);
  }

  & .popover-body.color-scheme-DARK {
    @include tooltip-component($blue4, $white0, $blue4);
  }

  &.color-scheme-LIGHT {
    &.bs-popover-bottom > .arrow::after {
      border-bottom-color: $gray3;
    }
    &.bs-popover-right > .arrow::after {
      border-right-color: $gray3;
    }
    &.bs-popover-left > .arrow::after {
      border-left-color: $gray3;
    }
    &.bs-popover-top > .arrow::after {
      border-top-color: $gray3;
    }
  }

  &.color-scheme-DARK {
    &.bs-popover-bottom > .arrow::after {
      border-bottom-color: $blue4;
    }
    &.bs-popover-right > .arrow::after {
      border-right-color: $blue4;
    }
    &.bs-popover-left > .arrow::after {
      border-left-color: $blue4;
    }
    &.bs-popover-top > .arrow::after {
      border-top-color: $blue4;
    }
  }

  &__disabled-button {
    display: inline-block;
    cursor: not-allowed;
    button {
      pointer-events: none;
    }
  }
}
