@import '../../Styles/constants.scss';

//.color-scheme-LIGHT {
//  &.popover {
//    border: 1px solid $darkblue1;
//    .arrow {
//      & ::after {
//        border-top-color: inherit !important;
//      }
//
//      & ::before {
//        border-top-color: $darkblue1 !important;
//      }
//
//    }
//  }
//}
//
//.color-scheme-DARK {
//  &.popover {
//    border: 1px solid $white0;
//    .arrow {
//      & ::after {
//        border-top-color: $darkblue1 !important;
//      }
//
//      & ::before {
//        border-top-color: $white0 !important;
//      }
//
//    }
//  }
//}

.popover {
  border-radius: 10px !important;

  .arrow {
    & ::after {
      border-top-color: $darkblue1 !important;
    }

    & ::before {
      border-top-color: $white0 !important;
    }

  }
  & .popover-body.color-scheme-LIGHT {
    @include tooltip-component(inherit, $darkblue1, $darkblue1);
  }

  & .popover-body.color-scheme-DARK {
    @include tooltip-component($darkblue1, $white0, #5D5F7C);
  }

  &.color-scheme-LIGHT {
    border: 1px solid $darkblue1;


    &.bs-popover-bottom  {
      & > .arrow {
        &::after {
          border-bottom-color: $white0;
        }

        &::before {
          border-bottom-color: $darkblue1;
        }
      }
    }

    &.bs-popover-right  {
      & > .arrow {
        &::after {
          border-right-color: $white0;
        }

        &::before {
          border-right-color: $darkblue1;
        }
      }
    }

    &.bs-popover-left  {
      & > .arrow {
        &::after {
          border-left-color: $white0;
        }

        &::before {
          border-left-color: $darkblue1;
        }
      }
    }

    &.bs-popover-top  {
      & > .arrow {
        &::after {
          border-top-color: $white0;
        }

        &::before {
          border-top-color: $darkblue1;
        }
      }
    }
  }

  &.color-scheme-DARK {
    border: 1px solid #5D5F7C;

    &.bs-popover-bottom {
      & > .arrow {
        &::after {
          border-bottom-color: $darkblue1;
        }

        &::before {
          border-bottom-color: $white0;
        }
      }
    }
    &.bs-popover-right {
      & > .arrow {
        &::after {
          border-right-color: $darkblue1;
        }

        &::before {
          border-right-color: $white0;
        }
      }
    }
    &.bs-popover-left {
      & > .arrow {
        &::after {
          border-left-color: $darkblue1;
        }

        &::before {
          border-left-color: $white0;
        }
      }
    }

    &.bs-popover-top {
      & > .arrow {
        &::after {
          border-top-color: $darkblue1;
        }

        &::before {
          border-top-color: $white0;
        }
      }
    }
  }

  &__disabled-button {
    display: inline-block;
    cursor: not-allowed;
    button {
      pointer-events: none;
    }
  }
}
