@import '../../../Styles/constants.scss';
@import '../../../Styles/colors.scss';

.custom-box {
  width: calc(100% - 15px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid transparent;
  margin-left: 5px;
  .box-wrapper {
    border: 1px solid transparent;
  }
  .color-scheme-LIGHT {
    .gotostak button {
      border: 1px solid #0a0a1e;
      color: #0a0a1e;
    }
  }
  .color-scheme-LIGHT .box-wrapper:hover {
    border: 1px solid rgb(10, 10, 30);
    border-radius: 10px;
    box-sizing: border-box;
    background: #ffffff;
  }
  .color-scheme-DARK .box-wrapper:hover {
    background: #0a0a1e;
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .color-scheme-LIGHT {
    a {
      color: #0a0a1e;
    }
  }
  .color-scheme-DARK {
    a {
      color: #fff;
    }
  }
  &.color-scheme {
    &-DARK {
      color: $white0;

      .CheckBox {
        &__label {
          a {
            color: $white0;
            text-decoration: underline;
          }
        }
      }

      .checkmark {
        border-color: #fff;

        svg {
          stroke: #fff;
        }
      }
    }
    &-LIGHT {
      color: #000;

      .CheckBox {
        &__label {
          a {
            color: $darkblue1;
            text-decoration: underline;
          }
        }
      }

      .checkmark {
        border-color: #000;

        svg {
          stroke: #000;
        }
      }
    }
  }
}

.box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;

  @media (max-width: 768px) {
    padding: 7px 10px;
  }

  .box-info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .box-item-wrapper {
      padding: 10px 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      & > * {
        display: flex;
        align-items: center;
      }
      img {
        max-width: 80px;
      }
      a {
        text-decoration: underline;
      }
      .green-text {
        color: #2ecd94;
      }
      .box-item-title {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  .gotostak {
    text-align: center;
    button {
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      font-size: 12px;
      line-height: 15px;
      padding: 10px 30px;
      border-radius: 18px;
      margin-top: 25px;
    }
  }
}
.custom-slider-box {
  width: 90%;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 100%;
  }
  .custom-box {
    border-radius: 10px;
    position: relative;
  }
  .slick-prev {
    &::before {
      content: '';
      background-image: url('../../../Images/snext.svg');
      display: block;
      width: 16px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: 0% 50%;
    }
  }
  .slick-next {
    &::before {
      content: '';
      background-image: url('../../../Images/sprev.svg');
      display: block;
      width: 16px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: 0% 50%;
    }
  }
  
  .slick-track {
    display: flex !important;
    .slick-slide {
      height: auto;
      div:first-child {
        height: 100%
      }
    }
  }
}
@media (max-width: 768px) {
  .custom-slider-box .custom-box {
    margin-left: 5px;
  }
  .slick-prev {
    position: absolute;
    left: -15px;
  }
}

.box-wrapper {
  .opium-link {
    a:before {
      background-image: none !important;
    }
  }
  .staking-table {
    width: 100%;
  }
}
