@import '../../Styles/constants.scss';

.text-block {
  padding: indent(1);
  width: fit-content;
  border-radius: size(radius4Px);
  white-space: normal;

  &.color-scheme-LIGHT {
    @include text-block-component(color(gray6), color(black3), color(gray4));
  }
  &.color-scheme-DARK {
     @include text-block-component(color(darkBlue2), color(white), color(gray4));
  }
}
