.opium-link {
  a {
    display: inline-block;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: -8px;
      width: 6px;
      height: 6px;
      background-size: contain;
      background-position: center;
    }
  }

  &.color-scheme {
    &-DARK {
      a {
        &:before {
          background-image: url('../../Images/link-target-blank-white.svg');
        }
      }
    }

    &-LIGHT {
      a {
        &:before {
          background-image: url('../../Images/link-target-blank-dark.svg');
        }
      }
    }
  }
}
