@import '../../Styles/constants.scss';
@import '../../Styles/index.scss';

.BlockWithList {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
    padding: 16px 31px;

    border: 1px solid transparent;
    transition: border-color .5s ease, background-color .5s ease;
    border-radius: 10px;

    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    .BlockWithList {
        &__front,
        &__back {
            position: absolute;
            width: calc(100% - calc(31px * 2));
            height: calc(100% - calc(16px * 2));
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;

            transition: .5s ease;
        }
        &__front {
            background-color: rgba(yellow, .3);
        }
        &__back {
            background-color: rgba(green, .3);
            transform: rotateY(180deg);
        }
    }

    &.color-scheme {
        &-DARK {
            color: #fff;
        }
    }

    &.hovered {
        background-color: #0A0A1E;
        border-color: #fff;
        transition: border-color .5s ease .2s, background-color .35s ease .5s;
        .BlockWithList {
            &__front {
                transform: rotateY(180deg);
            }
            &__back {
                transform: rotateY(0deg);
                transition: .5s ease;
            }
        }
    }
}