@import '../../Styles/constants.scss';

$cell1: 50px;
$cell2: 10%;
$cell3: 14%;
$cell4: 10%;
$cell5: 14%;
$cell6: 14%;
$cell7: 13%;
$cell8: 13%;
$cell9: 10%;
$cell10: 95px;

.cell {
   &:nth-child(1) {
      width: $cell1;
   }
   &:nth-child(2) {
      width: $cell2;
   }
   &:nth-child(3) {
      width: $cell3;
   }
   &:nth-child(4) {
      width: $cell4;
   }
   &:nth-child(5) {
      width: $cell5;
   }
   &:nth-child(6) {
      width: $cell6;
   }
   &:nth-child(7) {
      width: $cell7;
   }
   &:nth-child(8) {
      width: $cell8;
   }
   &:nth-child(9){
      width: $cell9;
   }
   &:last-child {
      width: $cell10;
      text-align: right;
   }
}

.custom-table {
   // padding: 0 indent(1);
   // width: 50rem;
   * {
      font-family: 'Titillium Web', sans-serif;
   }
   &.color-scheme {
      &-DARK {
         border: 1px solid #4E3E7A;
      }
      &-LIGHT {
         border: 1px solid rgba(25, 124, 216, 0.2);
      }
   }
   .table-head {
      display: flex;
      margin: 0;

      &.color-scheme {
         &-DARK {
            border-bottom: 1px solid #4E3E7A;
            li.table-head-cell {
               span {
                  color: #8B8B8B;
               }
            }
         }
         &-LIGHT {
            border-bottom: 1px solid rgba(25, 124, 216, 0.2);
            li.table-head-cell {
               span {
                  // color: #8B8B8B;
               }
            }
         }
      }
   }
   .table-body {
      margin: 0;
      padding: 0;
   }
   .table-head-cell {
      font-size: fz(xs);
      padding: indent(1) indent(2);
      text-transform: uppercase;
      line-height: 1.2;
      min-height: 3.6em;
      display: flex;
      align-items: center;
   }
   .table-row {
      display: flex;
      border-top: 0;

      &.color-scheme {
         &-DARK {
            border-color: #4E3E7A;
            &:hover {
               background-color: rgba(78, 62, 122, 0.2);
            }
         }
         &-LIGHT {
            border-color: rgba(25, 124, 216, 0.2);
            // &:hover {
            //    background-color: rgba(78, 62, 122, 0.2);
            // }
         }
      }
      & .btn {
         display: block;
      }
   }
   .table-cell {
      padding: indent(1) indent(2);
      line-height: 1.5;
      @include text-one-row;

      &:last-child {
         color: color(pureRed) !important;
      }
   }
}

@media screen and (max-width: 1024px) {
   .custom-table .table-row .btn {
      display: initial;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
   }
}
