@import '../../Styles/index.scss';

.Switcher {
  display: flex;
  align-items: center;
  gap: 7px;

  label {
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin: 0;
  }

  span {
    position: relative;
    cursor: pointer;
    margin-left: 30px;
    
    &::before {
      content: '';
      position: absolute;
      left: -30px;
      top: 4px;
      width: 22px;
      height: 12px;
      border-radius: 100px;
      background: transparent;
    }

    &::after {
      content: '';
      position: absolute;
      top: 7px;
      left: -27px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      transition: transform .25s ease;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    &:checked + span {
      &::after {
        transform: translateX(calc(22px - 13px + 1px));
      }
    }
  }

  &.color-scheme {
    &-DARK {
      span {
        color: #fff;

        &:before {
          box-shadow: inset 0 0 0 1px #fff;
        }

        &::after {
          background-color: #fff;
        }
      }

      input {
        &:checked::after {
          background-color: #fff;
        }
      }

      &.theme {
        span {
          &:before {
            background: #fff;
          }
  
          &::after {
            background-color: #000;
          }
        }
  
        input {
          &:checked::after {
            background-color: #000;
          }
        }
      }
    }
    &-LIGHT {
      span {
        color: #0A0A1E;

        &:before {
          box-shadow: inset 0 0 0 1px #0A0A1E;
        }

        &::after {
          background-color: #0A0A1E;
        }
      }

      input {
        &:checked::after {
          background-color: #0A0A1E;
        }
      }

      &.theme {
        span {
          &:before {
            background: #0A0A1E;
          }
  
          &::after {
            background-color: #fff;
          }
        }
  
        input {
          &:checked::after {
            background-color: #fff;
          }
        }
      }
    }
  }
}
